@charset "UTF-8";

/* reset */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}

body {
	font-family: sans-serif;
	background: url(../img/bg_header.png) top no-repeat, url(../img/bg_footer.png) bottom no-repeat, url(../img/bg_blue.gif) center repeat-y;
	background-size: 320px 202px, 320px 330px;
	text-align: center;
	font-size: 14px;
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color:#cf4c05;
}

#container {
	overflow: hidden;
	width: 320px;
	text-align: left;
	margin: 0 auto;
}

.containerInner {
	background: url(../img/bg_rails_chara.png) 0 -70px no-repeat;
	/*background: url(../img/bg_rails_chara.png) 0 70px no-repeat;*/
	-webkit-transition: 1s;
	background-size: 320px 306px;
}

.checkInWrapperDown {
	background-position: 0 70px;
}
.btnArea{
	display:box;
	display:-webkit-box;
	display:-moz-box;
	box-pack:justify;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	margin:5px;
	text-align:center;
}

header {
	overflow: hidden;
	position:relative;
}
body.nickname header,
body.junction header{
	height:50px;
}
header h1{
	position:absolute;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	text-shadow:0 -1px 1px rgba(0,0,0,0.8);
	text-align:center;
	width:320px;
	top:10px;
	z-index:3;
}
header .pageBack{
	/*float: left;
	margin: 5px 0 0 5px;*/
	position:absolute;
	left:5px;
	top:5px;
	z-index:5;
}		
header .profileBtn {
	/*float: right;
	padding:5px 5px 0 0;*/
	position:absolute;
	right:5px;
	top:5px;
	z-index:5;
}
header nav{
	padding-top:50px;
}
header nav ul {
	clear: both;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	height: 72px;
}
header nav ul li {
	text-align: center;
	position: relative;
	text-align: center;
}

header nav ul li a{
	text-decoration: none;
}
header nav ul li .alert{
	background-color: #e1201a;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: -6px;
	padding: 4px;
	border-radius: 20px;
	width: 18px;
	height: 15px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.6);
	text-shadow:0 -1px 1px rgba(0,0,0,0.4);
}

header nav ul li .alert:empty {
	display: none;
}

/*header nav ul li:nth-child(1):hover:after{
	content:url(../img/header_btn_timeline_on.png);
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:left top;
	position:absolute;
	top:0;
	left:0;
}
*/

#timeline{
	/*margin-top: 30px;*/
}

/*	common
============================================*/

/*	#flashMessage
-----------------------------------------------*/
#flashMessage,#authMessage{
	margin: 10px 20px;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 12px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}



/*	.woodFrame
-----------------------------------------------*/

.woodFrame {
	background: url(../img/bg_timeline_head.png) top no-repeat, url(../img/bg_timeline_footer.png) bottom no-repeat;
	background-size: 320px 30px;
	padding: 30px 0;
}

.woodFrame .woodWrapper {
	background: url(../img/bg_timeline_body.png) repeat-y;
	background-size: 320px;
	padding-top: 35px;
}

.woodFrame#timeline .woodWrapper,
.woodFrame.listWrap .woodWrapper,
.woodFrame.friendTimelineDetail .woodWrapper,
.woodFrame.friendList .woodWrapper,
#account .woodFrame .woodWrapper,
#guideline .woodFrame .woodWrapper{
	padding-top:0;
}
.woodFrame li {
	padding: 20px 20px 5px;
	overflow: hidden;
	background: url(../img/border_timeline.png) top center no-repeat, url(../img/icon_arrow_timeline.png) 93% center no-repeat;
	background-size: 298px 10px, 32px 32px;
}
.woodFrame li a{
	text-decoration: none;
	color: #452506;
}
.woodFrame li:first-child {
	padding-top: 0;
	background: url(../img/icon_arrow_timeline.png) 93% center no-repeat;
	background-size: 32px 32px;
}

.woodFrame li:last-child {
	padding-bottom: 0;
}

.woodFrame li p.comment span{
	font-weight: bold;
	font-size: 1.2;
}

.woodFrame li p.times {
	color:#978a85;
	font-size: 0.8em;
}
.woodFrame li p.icon span {
	font-weight: bold;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	padding: 5px 0 5px 26px;
}
.woodFrame li p.icon span.comment {
	background: url(../img/icon_comment.png) no-repeat;
	background-size: 24px 24px;
	margin-right: 10px;
}
.woodFrame li p.icon span.otsu {
	background: url(../img/icon_otukare.png) no-repeat;
	background-size: 17px 24px;
	padding-left: 20px;
}
.woodFrame li .activity {
	float: left;
	width: 165px;
}
.woodFrame li .activity .footer{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
}
.woodFrame li .avatarIcon {
	width: 80px;
	float: left;
	margin-right: 10px;
	margin-bottom:10px;
}
.woodFrame li .avatarIcon img{
	width: 80px;
	height: 80px;
}
.woodFrame li .likes {
	text-align: right;
	position: relative;
	float: right;
}

.woodFrame li p.comment {
	margin-bottom: 1em;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#topics {
	padding: 30px 0 0;
	/*height: 200px;*/
	overflow: hidden;
	/*background: url(../img/bg_cloud.png) bottom right no-repeat;*/
	background-size: 203px 85px;
	-webkit-transition: 1s;
}

#topics .cloud {
	font-size: 16px;
	font-weight: bold;
	background: url(../img/bg_cloud.png) no-repeat;
	background-size: 100% 100%;
	padding: 10px;
	width: 60%;
	float: right;
	text-align: center;
}

.checkInWrapper {
	width: 100%;
	height: 76px;
	background: url(../img/bg_checkin.png) no-repeat;
	background-size: 320px 76px;
}

.checkInWrapper .hundle {
	width: 219px;
	height: 109px;
	margin-top: 10px;
	background: url(../img/checkin_hundle.png) no-repeat;
	background-size: 109px 54px;
}

.working .checkInWrapper {
	background: url(../img/bg_checkout.png) no-repeat;
	background-size: 320px 76px;
}

.working .checkInWrapper .hundle {
	background: url(../img/checkout_hundle.png) no-repeat;
	background-size: 109px 54px;
}

.commentArea {
	padding: 15px;
	height: 100px;
	text-align: center;
}

.commentArea textarea {
	width: 90%;
	height: 4em;
	display: block;
	margin: 0 auto 5px;
	border-radius: 4px;
}

.commentArea a {
	border-radius: 4px;
	padding: 8px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ff7400), color-stop(0.00, #ffa443));
	background: -webkit-linear-gradient(top, #ffa443 0%, #ff7400 100%);
	display: inline-block;
}

.sendingIcon {
	text-align: center;
	font-size: 16px;
}

@-webkit-keyframes loadingIcon {
	0%{
		-webkit-transform: rotate(0deg);
	}
	99%{
		-webkit-transform: rotate(359deg);
	}
}

.sendingIcon span img,
#moreFeed span img,
#otsukareLoadIcon {
	-webkit-animation-name: loadingIcon;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	margin: 0 5px;
}


/*======================================================
	junction
======================================================*/

/*	0_junction
-----------------------------------------------*/

body.junction{
	background: url(../img/junction_header_bg.png) top no-repeat, url(../img/regist_book_bg_footer.jpg) bottom no-repeat, url(../img/junction_bg.jpg) center repeat-y;
	background-size: 320px 48px, 320px 83px, 320px 122px;
}
body.junction .woodFrame.prologue{
	margin-top:25px;
}
body.junction .woodFrame.prologue h2{
	text-align:center;
	margin-bottom:20px;
}
body.junction .woodFrame.prologue p{
	margin:0 30px;
	padding-bottom:20px;
}
body.junction .woodFrame.prologue p.btnArea{
	padding-bottom:0;
}




/*	1_login
-----------------------------------------------*/
body.login p.loginBtn a{
	border-radius: 10px;
	display: block;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	margin: 20px;
	background: -webkit-linear-gradient(top, #ba5f7f 0%, #a20e42 65%, #ba5e7e 100%);
	background: -moz-linear-gradient(top, #ba5f7f 0%, #a20e42 65%, #ba5e7e 100%);
	background: -ms-linear-gradient(top, #ba5f7f 0%, #a20e42 65%, #ba5e7e 100%);
	background: -o-linear-gradient(top, #ba5f7f 0%, #a20e42 65%, #ba5e7e 100%);
	background: linear-gradient(top, #ba5f7f 0%, #a20e42 65%, #ba5e7e 100%);
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0, #ba5f7f), color-stop(0.65, #a20e42), color-stop(1, #ba5e7e));
}
body.login p.registBtn a{
	border-radius: 10px;
	display: block;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	margin: 20px;
	background: -webkit-linear-gradient(top, #6c8eae 0%, #28508b 62%, #6a8ca7 100%);
	background: -moz-linear-gradient(top, #6c8eae 0%, #28508b 62%, #6a8ca7 100%);
	background: -ms-linear-gradient(top, #6c8eae 0%, #28508b 62%, #6a8ca7 100%);
	background: -o-linear-gradient(top, #6c8eae 0%, #28508b 62%, #6a8ca7 100%);
	background: linear-gradient(top, #6c8eae 0%, #28508b 62%, #6a8ca7 100%);
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0, #6c8eae), color-stop(0.62, #28508b), color-stop(1, #6a8ca7));
}

body.login div.inputItem{
	border-bottom: 1px dotted #999;
	padding: 10px 20px;
}
body.login div.inputItem:first-of-type{
	border-top: 1px dotted #999;
}

body.login div.inputItem p.error{
	color: #f00;
}

/*	2_registration (akiba)
-----------------------------------------------*/

body.nickname {
	background: url(../img/regist_book_bg.jpg) top no-repeat, url(../img/regist_book_bg_footer.jpg) bottom no-repeat, url(../img/regist_book_bgall.jpg) center repeat-y;
	background-size: 320px 244px, 320px 83px;
}

#bookArea {
	width: 100%;
	height: 180px;
	background-size: contain;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

#yourname {
	color: #3f1c08;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 3px rgba(0,0,0,0.9);
	-webkit-transform: skewY(10deg) translate(-10px, 25px);
	font-family: serif;
}

.woodFrame.registFrame dd small{
	color:#807069;
}
.woodFrame.registFrame input.loginRegist{
	background: url(../img/regist_bg_input_login_nrml.jpg) no-repeat 0 0;
	background-size: 239px 44px;
	-webkit-appearance:none;
	border: none;
	width: 229px;
	height: 44px;
	padding: 0 20px;
}
.woodFrame.registFrame dd.ok input.loginRegist{
	background: url(../img/regist_bg_input_login.jpg) no-repeat 0 0;
	background-size: 270px 44px;
}
.woodFrame.registFrame dd.error input{
	background: url(../img/regist_bg_input_login_error.jpg) no-repeat 0 0;
	background-size: 270px 44px;
}
.woodFrame .errorText{
	background-color:#ffe2d1;
	border-radius:5px;
	margin:0 25px 15px;
	padding:10px;
	color:#9f0d08;
	text-shadow:0 1px 1px rgba(255,255,255,0.9);
}
.woodFrame .errorText p{
	font-weight:bold;
	margin-bottom:3px;
}
.woodFrame .errorText ul li{
	background:none;
	padding:0 0 0 20px;
	text-indent:-5px;
}
.woodFrame .errorText ul li:before{
	content:"-";
	left:-10px;
	position:relative;
}
p.forgetPW {
	text-align:right;
	margin-right:25px;
}
p.forgetPW a{
	background: url(../img/login_icon_arrow.png) no-repeat 0 0;
	background-size: 18px 23px;
	padding:3px 0 3px 20px;
	font-weight:bold;
}
p.loginAttention{
	color:#603f2f;
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
	margin:0 10px;
}
p.loginAttention a{
	font-weight:bold;
}

/*	2_top (akiba)
-----------------------------------------------*/
/*
#moreFeed {
	text-align: center;
	margin: 15px 0 0;
	padding: 10px 0;
	background: #999;
	cursor: pointer;
}

#moreFeed span {
	display: none;
}*/

/*	11_guideline
-----------------------------------------------*/
p.guidelineP{
	margin:0 20px;
	padding-bottom:20px;
	background: url(../img/border_timeline.png) bottom center no-repeat;
	background-size: 298px 10px;
}

dl.guideline ol li,
dl.guideline ol li:first-child{
	background:none;
	margin-bottom:5px;
	padding:0 0 5px 0;
	border-bottom:1px dotted #3D0404;
}
dl.guideline ol li:last-child{
	border-bottom:none;
}
dl.guideline dt{
	margin-top:10px;
}
dl.guideline dd{
	background: url(../img/border_timeline.png) bottom center no-repeat;
	background-size: 298px 10px;
}

/*======================================================
	footer
======================================================*/
footer{
	padding-top: 150px;
}
body.nickname footer,
body.junction footer{
	padding-top:30px;
}
footer nav ul{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
footer nav ul li{
	margin-right:3px;
}
footer nav ul li:last-child{
	margin-right:0;
}
footer p.copyright{
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.8);
	text-align:center;
	font-size:10px;
	padding:12px 0 5px;
}

/*======================================================
	ui-time-selector by wakamatsu
	edit design by tomita 2012.2.8
======================================================*/

.ui-time-selector {
	position: relative;
	margin: 5px auto;
	width: 276px;
	height: 332px;
	/*background-color:rgba(195,152,71,0.2);*/
	background: url(../img/cal_head_bg.png) no-repeat 0 0, url(../img/ui_time_foot_bg.png) no-repeat 0 bottom;
	background-size: 276px 87px, 276px 265px;
}
.ui-time-selector .button {
	position: absolute;
	display: inline-block;
	text-align: center;
	/*border: 2px solid #666666;
	background: rgba(0, 0, 0, 0.2);*/
	background: url(../img/ui_time_button.png) no-repeat 0 0;
	background-size:76px 43px;
	width: 76px;
	padding: 12px 0 11px;
	line-height: 1;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	z-index: 2;
}
.ui-time-selector .tap {
	background: url(../img/ui_time_button_tap.png) no-repeat 0 0;
	background-size:76px 43px;
	/*background: #FFFFFF;*/
}
.ui-time-selector .input {
	position: absolute;
	display: inline-block;
	/*border: 1px solid rgba(0, 0, 0, 0.7);
	background: #FFFFFF;*/
	background: url(../img/ui_time_input.png) no-repeat 0 0;
	background-size:48px 48px;
	width: 49px;
	height: 44px;
	padding-top: 4px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.ui-time-selector .input:before {
	display: inline-block;
	content: "";
	width: 0;
	height: 42px;
	vertical-align: middle;
}

.ui-time-selector .forcus {
	/*border: 2px solid rgba(0, 128, 255, 1);*/
	background: url(../img/ui_time_input_focus.png) no-repeat 0 0;
	background-size:48px 48px;
	width: 49px;
	height: 44px;
	padding-top: 4px;
}
.ui-time-selector .forcus:before {
	height: 40px;
}

.ui-time-selector .input-frame {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 250px;
	height: 58px;
	z-index: 1;
}

.ui-time-selector .tenkey-frame {
	position: absolute;
	left: 15px;
	top: 70px;
	width: 250px;
	height: 204px;
	z-index: 1;
}

#ui-btn-1 {
	left: 0;
	top: 0;
}
#ui-btn-2 {
	left: 85px;
	top: 0;
}
#ui-btn-3 {
	left: 170px;
	top: 0;
}
#ui-btn-4 {
	left: 0;
	top: 51px;
}
#ui-btn-5 {
	left: 85px;
	top: 51px;
}
#ui-btn-6 {
	left: 170px;
	top: 51px;
}
#ui-btn-7 {
	left: 0;
	top: 102px;
}
#ui-btn-8 {
	left: 85px;
	top: 102px;
}
#ui-btn-9 {
	left: 170px;
	top: 102px;
}
#ui-btn-0 {
	left: 85px;
	top: 153px;
}

#ui-input-1 {
	left: 10px;
	top: 5px;
}
#ui-input-2 {
	left: 65px;
	top: 5px;
}
#ui-input-3 {
	right: 65px;
	top: 5px;
}
#ui-input-4 {
	right: 10px;
	top: 5px;
}

#ui-btn-back {
	left: 185px;
	top: 223px;
}

#ui-btn-cancel {
	left: 15px;
	bottom: 15px;
	font-size:16px;
}
			
#ui-btn-now {
	right: 15px;
	bottom: 15px;
	width: 161px;
	background: url(../img/ui_time_buttonL.png) no-repeat 0 0;
	background-size:161px 43px;
	font-size:16px;
}

.disabled {
	opacity: 0.25;
}

