@charset "UTF-8";

/* reset */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}

html {
}

body {
	font-family: sans-serif;
	background: url(../img/bg_header.png) top no-repeat, url(../img/bg_footer.png) bottom no-repeat, url(../img/bg_blue.gif) center repeat-y;
	background-size: 320px 202px, 320px 248px;
	padding-bottom: 150px;
	text-align: center;
	font-size: 14px;;
}
a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#container {
	overflow: hidden;
	width: 320px;
	text-align: left;
	margin: 0 auto;
}

.containerInner {
	background: url(../img/bg_rails_chara.png) 0 70px no-repeat;
	-webkit-transition: 1s;
	background-size: 320px 306px;
}

header {
	overflow: hidden;
	}
	
header .profileBtn {
	float: right;
	position: relative;
	text-align: center;
}
header .profileBtn a{
	text-decoration: none;
}
header .profileBtn .alert{
	background-color: #f00;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: 3px;
	padding: 1px;
	border-radius: 20px;
	width: 18px;
	height: 15px;
	-webkit-box-shadow:0 0 2px rgba(255,0,0,1);
}

header nav ul {
	clear: both;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	height: 72px;
}

header nav ul li {
	text-align: center;
}

#timeline{
	margin-top: 30px;
}

/*	common
============================================*/

.woodFrame {
	background: url(../img/bg_timeline_head.png) top no-repeat, url(../img/bg_timeline_footer.png) bottom no-repeat;
	background-size: 320px 30px;
	padding: 30px 0;
}

.woodFrame .woodWrapper {
	background: url(../img/bg_timeline_body.png) repeat-y;
	background-size: 320px;
}

.woodFrame li {
	padding: 30px 20px 5px;
	overflow: hidden;
	background: url(../img/border_timeline.png) top center no-repeat, url(../img/icon_arrow_timeline.png) 93% center no-repeat;
	background-size: 298px 10px, 32px 32px;
}
.woodFrame li a{
	text-decoration: none;
	color: #452506;
}
.woodFrame li:first-child {
	padding-top: 0;
	background: url(../img/icon_arrow_timeline.png) 93% center no-repeat;
	background-size: 32px 32px;
}

.woodFrame li:last-child {
	padding-bottom: 0;
}

.woodFrame li p.comment span{
	font-weight: bold;
	font-size: 1.2;
}

.woodFrame li p.times {
	color:#978a85;
	font-size: 0.8em;
}
.woodFrame li p.icon span {
	font-weight: bold;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	padding: 5px 0 5px 26px;
}
.woodFrame li p.icon span.comment {
	background: url(../img/icon_comment.png) no-repeat;
	background-size: 24px 24px;
	margin-right: 10px;
}
.woodFrame li p.icon span.otsu {
	background: url(../img/icon_otukare.png) no-repeat;
	background-size: 17px 24px;
	padding-left: 20px;
}
.woodFrame li .activity {
	float: left;
	width: 165px;
}
.woodFrame li .activity .footer{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
}
.woodFrame li .avatarIcon {
	width: 70px;
	float: left;
	margin-right: 10px;
}
.woodFrame li .avatarIcon img{
	width: 70px;
	height: 70px;
}
.woodFrame li .likes {
	text-align: right;
	position: relative;
	float: right;
}

.woodFrame li p.comment {
	margin-bottom: 1em;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#topics {
	padding: 30px 0 0;
	height: 200px;
	overflow: hidden;
	background: url(../img/bg_cloud.png) bottom right no-repeat;
	background-size: 203px 85px;
}

#topics .cloud {
	float: right;
	margin-right: 10px;
}

.checkInWrapper {
	width: 100%;
	height: 76px;
	background: url(../img/bg_checkin.png) no-repeat;
	background-size: 320px 76px;
}

.checkInWrapperUp {
	background-position: 0 -50px;
}

.checkInWrapper .hundle {
	width: 219px;
	height: 109px;
	margin-top: 10px;
	background: url(../img/checkin_hundle.png) no-repeat;
	background-size: 109px 54px;
}

.working .checkInWrapper {
	background: url(../img/bg_checkout.png) no-repeat;
	background-size: 320px 76px;
}

.working .checkInWrapper .hundle {
	background: url(../img/checkout_hundle.png) no-repeat;
	background-size: 109px 54px;
}

.commentArea {
	padding: 15px;
	height: 100px;
	text-align: center;
}

.commentArea textarea {
	width: 90%;
	height: 6em;
	display: block;
	margin: auto;
}

.commentArea a {
	display: inline-block;
}

.sendingIcon {
	text-align: center;
	font-size: 26px;
}

@-webkit-keyframes loadingIcon {
	0%{
		-webkit-transform: rotate(0deg);
	}
	99%{
		-webkit-transform: rotate(359deg);
	}
}

.sendingIcon span img {
	-webkit-animation-name: loadingIcon;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
}












