@charset "UTF-8";

.alC{
	text-align: center;
}
p.delete{
	margin-top:20px;
}
#moreFeed{
	background: url(../img/border_timeline.png) no-repeat top center, url(../img/btn_readmore.png) no-repeat center bottom;
	background-size: 298px 10px, 271px 60px;
	margin:0 auto;
	padding-bottom:50px;
	text-indent:-9999px;
	position:relative;
}
#moreFeed span{
	background: url(../img/btn_readmore_on.png) no-repeat center bottom;
	margin:0 auto;
	background-size: 271px 60px;
	position:absolute;
	width:271px;
	height:60px;
	top:21px;
	left:25px;
}
#moreFeed span img{
	position:absolute;
	top:15px;
	left:180px;
	width:32px;
	height:32px;
}

.woodFrame li .avatarIcon{
	padding: 3px;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
/*	3_yotei_touroku
============================================*/
.woodFrame.registFrame{
	position: relative;
}
.woodFrame.registFrame h1{
	margin:0 0 0 11px;
	position: absolute;
	top:7px;
}
.woodFrame.registFrame dl{
	margin:0 0 0 25px;
}
.woodFrame.registFrame.noTitle dl{
	padding-top: 0;
}
.woodFrame.registFrame dt{
	background: url(../img/regist_icon_subtitle.png) no-repeat 0 0;
	background-size: 13px 19px;
	color:#3d0404;
	font-weight:bold;
	font-size:16px;
	padding:0 0 4px 20px;
	text-shadow:-1px -1px 1px rgba(255,255,255,1);
}
.woodFrame.registFrame dd{
	padding-bottom: 10px;
	/*padding-left: 20px;*/
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	color: #3d0404;
}

.woodFrame.registFrame dt.hidden{
	text-decoration: underline;
	color: red;
}

.woodFrame.registFrame dd:last-child {
	/*padding-left: 0;*/
}

.woodFrame.registFrame .selectWorks{
	background: url(../img/regist_bg_select.png) no-repeat 0 0;
	background-size: 269px 44px;
	-webkit-appearance:none;
	border:none;
	width: 269px;
	height: 44px;
	padding: 0 10px 0 15px;
}
.woodFrame/*.registFrame*/ .newRegist{
	background: url(../img/regist_bg_input.png) no-repeat 0 0;
	background-size: 269px 44px;
	-webkit-appearance:none;
	border: none;
	width: 229px;
	height: 44px;
	padding: 0 20px;
}
.woodFrame.registFrame dd.calender{
	background: url(../img/regist_bg_calender.png) no-repeat 0 0;
	background-size: 271px 49px;
	padding: 10px 0 15px 20px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.woodFrame.registFrame dd.calender em{
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 5px 0 8px;
}
.woodFrame.registFrame div.time{
	background: url(../img/regist_bg_time.png) no-repeat 0 0;
	background-size: 238px 45px;
	display: inline-block;
	width:238px;
	height: 37px;
	padding: 8px 0 0;
}
.woodFrame.registFrame div.time em{
	font-size: 1.4em;
	font-weight: bold;
}
.woodFrame.registFrame div.time.start em:first-of-type{
	padding: 0 55px;
}
.woodFrame.registFrame div.time.start{
	background: url(../img/regist_bg_timecolon.png) no-repeat 100px 10px,
				url(../img/regist_bg_time.png) no-repeat 0 0;
	background-size: 12px 25px, 238px 45px;
	display: inline-block;
	width:238px;
	height: 45px;
	padding: 8px 0 0;	
}
.woodFrame.registFrame div.time.while{
	padding-left: 50px;
}
.woodFrame.registFrame div.time.while em{
	padding: 0 10px;
}
.woodFrame.registFrame p.text{
	padding:10px 25px;
	color:#603f2f;
}

.registBtn{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	margin: 10px 6px 0;
}
.registBtn.in{
	margin: 10px 20px 0;
}


/*	calendarUI  */
#controler {
display: -webkit-box;
-webkit-box-pack: justify;
width:276px;
}

#controler a {
display: block;
padding: 15px;
}

.clipArea {
width: 276px;
overflow-x: hidden;
}

.calbox {
float: left;
width:276px !important;
}

.calbox header {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.calbox table {
border-collapse: collapse;
width: 100%;
margin: 0 0 15px;
}
.calbox table td {
text-align: center;
padding: 10px 0;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border: 1px solid #6e2b0a;
box-shadow:inset 0 1px 1px rgba(255,255,255,0.8);
-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.8);
background-color:#fff4df;
}
.calbox table .today {
background: #69C;
}

.calbox table td:hover {
background: #6CC;
}

#calConfirm {
display: none;
}

#calConfirm a {
display: block;
width: 80%;
margin: 10px auto;
border-radius: 3px;
border: 1px solid #999;
text-align: center;
text-decoration: none;
font-weight: bold;
font-size: 18px;
padding: 15px 0;
}

.woodFrame.registFrame dd#biteCalendar{
	position:relative;
	padding-left:0;
	background: url(../img/cal_head_bg.png) no-repeat 0 0, url(../img/cal_foot_bg.png) no-repeat 0 bottom;
	background-size: 276px 87px, 276px 231px;
	padding-bottom:47px;
	display:none;
}
#biteCalendar #controler{
	position:absolute;
	padding:20px 0 0;
}
#biteCalendar #controler a{
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:42px 34px;
	text-indent:-9999px;
	position: relative;
	z-index: 2;
}
#biteCalendar #controler a.prev{
	background-image:url(../img/cal_arrow_prev.png);
}
#biteCalendar #controler a.next{
	background-image:url(../img/cal_arrow_next.png);
}
#biteCalendar .calbox header{
	height:36px;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	font-size:18px;
	padding-top:24px;
}
#biteCalendar .calbox .content{
	background: url(../img/cal_border_bg.png) repeat-y 0 0;
	background-size: 276px 12px;
	padding:0 7px;
}
#biteCalendar .calbox .content th{
	color:#fdeae0;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	text-align:center;
	height:26px;
}

/*	4_yotei_ichiran
============================================*/
.woodFrame.listWrap ul{
	margin-top: -5px;
}
.woodFrame.listWrap ul li{
	background: url(../img/border_timeline.png) top center no-repeat, url(../img/icon_arrow_edit.png) 93% center no-repeat;
	background-size: 298px 10px, 34px 34px;
	padding: 20px 20px 10px;
}
.woodFrame.listWrap ul li:first-child{
	background: url(../img/icon_arrow_edit.png) 93% center no-repeat;
	background-size: 34px 34px;
	padding-top: 0;
}
.woodFrame.listWrap ul li a{
	text-decoration: none;
	color: #3c220c;
}
.woodFrame.listWrap ul li img{
	float:left;
	padding: 3px;
	background: white;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.woodFrame.listWrap ul li div.kind{
	float:right;
	width:215px;
}
.woodFrame.listWrap ul li h3{
	font-weight: bold;
	font-size:18px;
	background: url(../img/regist_icon_subtitle.png) no-repeat 2px 2px;
	background-size: 13px 19px;
	padding: 0 0 4px 20px;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}
.woodFrame.listWrap ul li span{
	font-size: 12px;
	display:block;
}
.woodFrame.listWrap ul li span em{
	font-size: 16px;
	font-weight: bold;
}
.woodFrame.listWrap ul li span.date{
	background: url(../img/icon_calender.png) no-repeat 0 2px;
	background-size: 18px 15px;
	padding: 0 0 0 20px;
}
.woodFrame.listWrap ul li span.time{
	background: url(../img/icon_date.png) no-repeat 0 2px;
	background-size: 18px 18px;
	padding: 0 0 0 20px;
}

/*	06_friend_timeline
============================================*/
.searchBox{
	background: url(../img/search_bg.png) no-repeat 0 0;
	background-size: 320px 91px;
	margin-top: -20px;
	padding: 42px 10px 45px 15px;
	position: relative;
}

.searchBox input.searchTxt{
	-webkit-appearance: none;
	border: none;
	background: none;
	text-shadow: -1px -1px 1px rgba(255,255,255,0.8);
}
.searchBox input.searchBtn{
	-webkit-appearance: none;
	border: none;
	text-indent: -9999px;
	background: url(../img/search_btn.png) no-repeat 0 0;
	background-size: 75px 50px;
	width:75px;
	height: 50px;
	position: absolute;
	right:7px;
	top:30px;
}

/*	06_friend_timeline2
============================================*/
.woodFrame.friendTimelineDetail li{
	background: none;
}
.woodFrame.friendTimelineDetail li .activity {
	float: left;
	width: 175px;
	margin-bottom:10px;
}

/*	.comment
-----------------------------------------------*/
.woodFrame li div.commentForm{
	background: url(../img/comment_title_bg.png) no-repeat center 70px;
	background-size: 297px 62px;
	clear:both;
}
.woodFrame li div.commentForm input.newRegist{
	margin-left:8px;
	margin-bottom:5px;
}
.woodFrame li .commentList{
	background-color:#f9deac;
}
.woodFrame li .commentList li{
	border-bottom:1px solid #7d5929;
	padding:8px;
}
.woodFrame li .commentList li p.commentAvatar{
	width:80px;
	float: left;
	margin-right: 8px;
	padding: 3px;
	background: white;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.woodFrame li .commentList li p.commentAvatar img{
}
.woodFrame li .commentList li div.detail{
	width:170px;
	float: left;
}
.woodFrame li .commentList li div.detail h2{
	font-weight:bold;
	text-shadow:1px 1px 1px rgba(255,255,255,0.7);
}

/*
.commentForm{
	background-color: #e9c174;
	padding: 5px;
	margin: 5px;
}
.commentList li{
	overflow: hidden;
	background: #fff4df url(../img/icon_arrow_timeline.png) 93% center no-repeat;
	padding: 5px;
	margin: 5px;
}
.commentList li a{
	text-decoration: none;
	color:#333;
}
.commentList li p.commentAvatar{
	width:80px;
	float: left;
	margin-right: 10px;
}
.commentList li p.commentAvatar img{
	width:80px;
	height: 80px;
}
.commentList li div.detail{
	width:115px;
	float: left;
}*/


/*	07_search_result
============================================*/
.woodFrame.friendList li{
	padding: 15px 20px 5px;
}
.woodFrame.friendList li:first-child{
	padding-top: 0;
}
.woodFrame.friendList li .activity{
}
.friendList .activity p.name{
	color: #452506;
	font-weight: bold;
}
.friendList .activity p.detail img{
	vertical-align: middle;

}
.friendList .activity p.detail span.job{
	margin-right: 7px;
	margin-bottom: 5px;
	display: block;
	padding: 5px 0 5px 28px;
	background-repeat: no-repeat;
	background-position: 0 3px;
	background-size: 25px 25px;
}


.woodFrame.friendList img.avatarIcon{
	width:80px;
	height: 80px;
	float: left;
}



/*	08_friend_profile
============================================*/
.profile h1{
	background: url(../img/friend_detail_titlebg.png) no-repeat 0 0;
	background-size: 320px 55px;
	text-align: center;
	padding: 13px 0;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

p.profileAvatar{
	height: 175px;
	position: relative;
}

p.profileAvatar img {
	position: absolute;
	width: 100%;
}

.profileBg{
	background: url(../img/friend_detail_bg.png) no-repeat 0 -1px;
	background-size: 320px 126px;
	padding: 22px 20px 30px;

}
.profileDetail{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
}
.profileLevel h2{
	font-weight: bold;
	margin-bottom: 3px;
}
.profileLevel p img{
	vertical-align: middle;
}
.profileLevel p span.job{
	font-size: 10px;
	padding: 5px 0 5px 23px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px 20px;
}
.job.power{
	background-image: url(../img/icon_job_power.jpg);
}
.job.event{
	background-image: url(../img/icon_job_event.jpg);
}
.job.sampling{
	background-image: url(../img/icon_job_sampling.jpg);
}
.job.shop{
	background-image: url(../img/icon_job_shop.jpg);
}
.job.office{
	background-image: url(../img/icon_job_office.jpg);
}
.job.teacher{
	background-image: url(../img/icon_job_teacher.jpg);
}
.job.free{
	background-image: url(../img/icon_job_free.jpg);
}
.job.season{
	background-image: url(../img/icon_job_season.jpg);
}



.profileCount ul{
	font-weight: bold;
}
ul.profileCount li{
	padding: 3px 0 2px;
	font-family: Helvetica;
	font-weight: bold;
}
ul.profileCount li.otsukare{
	background: url(../img/friend_detail_otsukare.png) no-repeat 0 0;
	background-size: 57px 25px;
	padding-left: 60px;
}
ul.profileCount li.checkout{
	background: url(../img/friend_detail_checkout.png) no-repeat 0 0;
	background-size: 67px 25px;
	padding-left: 70px;
}

.profile .pointGage{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	margin-top: 5px;
}
.profile .pointGage .gage{
	background: url(../img/friend_detail_gage_bg.png) no-repeat 0 0;
	background-size: 202px 21px;
	width: 202px;
	height: 21px;
	position: relative;
}
.profile .pointGage .gage p.meter{
	position: absolute;
	background: url(../img/friend_detail_gage.png) no-repeat 5px 5px;
	background-size: 192px 12px;
	height: 20px;
	width: 50px;
}
.profile .pointGage .gage p.text{
	font-size: 10px;
	color: #333;
	padding: 18px 0 0 8px;
}
.profile .pointGage .gage p.text strong{
	font-weight: bold;
}

.profile .pointGage .point{
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: -1px -1px 1px rgba(255,255,255,0.8);
	color: #18502d; 
}




